.Portfolio
    width: 100%
    margin: 0 auto
    &__content
        margin: 60px auto 60px auto
        width: 100%
        display: flex
        flex-wrap: wrap
    &__item
        width: 35%
        margin: 40px auto
    &__img
        max-width: 100%
        display: block
        object-fit: cover
        margin: 0 auto
        height: auto
    &__itemTextStrong
        font-family: Arial, Helvetica, sans-serif
        font-size: 41px
        font-weight: 900
        line-height: 1.03
        letter-spacing: 1.67px
        text-align: left
        color: #000000
        margin-top: 30px
    &__itemTextSmall
        font-family: Arial, Helvetica, sans-serif
        font-size: 18px
        font-weight: 300
        line-height: 1.24
        text-align: left
        color: #000000
    &__itemTextZobacz
        font-family: Arial, Helvetica, sans-serif
        font-size: 21px
        font-weight: 900
        line-height: 1.21
        letter-spacing: 0.8px
        text-align: left
        color: #000000
        opacity: 0.6