.Recruitment
    width: 100%
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    &__mainText
        font-family: Arial, Helvetica, sans-serif
        font-size: 19px
        font-weight: bold
        line-height: 1.47
        text-align: left
        color: #000000
        width: 100%