.Team
    width: 1040px
    margin: 40px
    &__text
        width: 100%
        font-family: sans-serif
        font-weight: bold
        line-height: 1.47
        letter-spacing: 0.75px
        text-align: left
        color: #030405
    &__content
        width: 100%
        display: flex
    

