.Team
    width: 100%
    margin: 0 auto
    &__text
        max-width: 100%
        font-family: sans-serif
        font-weight: bold
        line-height: 1.47
        letter-spacing: 0.75px
        text-align: left
        color: #030405
        margin: 0 70px
    &__content
        margin: 60px 10px
        max-width: 100%
        display: flex
        flex-flow: row wrap
        justify-content: space-between
    &__item
        flex-basis: 33.33%
        margin: 20px 0
    &__img
        display: block
        margin: 0 auto
        max-width: 274px
        width: 100%
        height: auto
        border-radius: 50%
    &__item-textBlod
        max-width: 100%
        font-family: sans-serif
        font-size: 19.6px
        font-weight: 900
        line-height: 1.4
        letter-spacing: 0.79px
        text-align: center
        color: #000000
        margin: 20px auto 0 auto
    &__item-text
        max-width: 100%
        margin: 0 auto
        font-family: sans-serif
        font-size: 19.6px
        font-weight: 500
        line-height: 1.4
        letter-spacing: 0.79px
        text-align: center
        color: #000000



