@import 'components/sectorPage/page', 'components/team/team', 'components/portfolio/portfolio', 'components/service/service', 'components/article/article'


    
@media (max-width: 1100px) and (min-width: 1000px)
    .Service
        width: 100%
        &__item
            flex-basis: 50%  
@media (max-width: 1000px) and (min-width: 680px)
    .Team
        width: 100%
        &__item
            flex-basis: 50%
    .Service
        width: 100%
        &__item
            flex-basis: 50%
    .Article
        width: 100%
        &__imgBox
            flex-basis: 100%
        &__textBlod
            width: 60%
            margin: 0 0 50px 0
@media (max-width: 780px) //only for Service
    .Service
        width: 100%
        &__item
            flex-basis: 100%
@media (max-width: 680px)
    .Page
        &__title
            font-size: 40px
    .Team
        width: 100%
        &__item
            flex-basis: 100%
    .Portfolio
        width: 100%
        &__item
            flex-basis: 100%
    .Service
        width: 100%
        &__item
            flex-basis: 100%
        &__boxTitle
            padding-left: 40px
    .Article
        width: 100%
        &__imgBox
            flex-basis: 100%
        &__textBlod
            width: 100%
            margin: 0 0 50px 0
