@import 'components/sectorPage/page', 'components/team/team'




@media (max-width: 623px)
    .Page
        width: 100%
        &__title
            font-size: 50px
    .Team
        width: 100%
        &__content
            display: block
        &__item
            width: 80%


