@import 'components/sectorPage/page', 'components/team/team', 'components/portfolio/portfolio'




@media (max-width: 860px) and (min-width: 600px)
    .Team
        width: 100%
        &__item
            width: 40%
    .Portfolio
        width: 100%
        &__item
            width: 70%


@media (max-width: 600px)
    .Page
        width: 100%
        &__title
            font-size: 40px
    .Team
        width: 100%
        &__item
            width: 90%
    .Portfolio
        width: 100%
        &__item
            width: 90%


