body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.Page {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

.Page__container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.Page--otherBG {
  background-color: #d8d8d8;
}

.Page__title {
  width: 100%;
  font-family: sans-serif;
  font-size: 68px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 2.72px;
  text-align: left;
  color: #010101;
  margin: 50px 0;
}

.Team {
  width: 100%;
  margin: 0 auto;
}

.Team__text {
  max-width: 100%;
  font-size: 19px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.47;
  letter-spacing: 0.75px;
  text-align: left;
  color: #030405;
  margin: 0 88px;
}

.Team__content {
  margin: 60px 25px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Team__item {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  margin-bottom: 68px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

.Team__img {
  display: block;
  margin: 0 auto;
  max-width: 274px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.Team__item-textBlod {
  max-width: 100%;
  font-family: sans-serif;
  font-size: 19.6px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.79px;
  text-align: center;
  color: #000000;
  margin: 20px auto 0 auto;
}

.Team__item-text {
  max-width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 19.6px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.79px;
  text-align: center;
  color: #000000;
}

.Portfolio {
  width: 100%;
  margin: 0 auto;
}

.Portfolio__content {
  padding: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Portfolio__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 20px;
  margin-bottom: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Portfolio__inner {
  max-width: 430px;
  margin: 0 auto;
}

.Portfolio__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.Portfolio__itemTextStrong {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 41px;
  font-weight: 900;
  line-height: 1.03;
  letter-spacing: 1.67px;
  text-align: left;
  color: #000000;
  max-width: 430px;
  margin: 34px auto 24px auto;
}

.Portfolio__itemTextSmall {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.24;
  text-align: left;
  color: #000000;
  max-width: 100%;
  margin: 0 auto;
}

.Service {
  width: 100%;
  margin: 0 auto;
}

.Service__content {
  padding: 30px 20px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Service__item {
  display: block;
  width: 33.33%;
  margin-bottom: 20px;
}

.Service__inner {
  width: 316px;
  height: 326px;
  margin: 0 auto;
  -webkit-transition: .4s;
  transition: .4s;
  background: transparent;
  cursor: default;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Service__inner:hover {
  background-color: #f07f1a;
}

.Service__boxTitle {
  display: block;
  width: 100%;
  padding-left: 20px;
}

.Service__inner:hover .Service__boxTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Service__img {
  max-width: 100%;
  max-height: 72px;
  margin: 0 auto 25px 0;
  display: block;
}

.Service__inner:hover .Service__img {
  max-width: 52px;
  max-height: 52px;
  margin: 0 20px 0 0;
}

.Service__itemTitle {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.23;
  text-align: left;
  color: #000000;
  display: inline-block;
  width: 80%;
}

.Service__inner:hover .Service__itemTitle {
  font-size: 24px;
  text-align: left;
}

.Service__itemText {
  display: none;
  max-width: 100%;
  font-family: sans-serif;
  font-size: 19px;
  line-height: 1.58;
  text-align: left;
  color: #000000;
  padding: 0 33px 30px;
}

.Service__inner:hover .Service__itemText {
  display: block;
}

@media (max-width: 1000px) and (min-width: 680px) {
  .Team {
    width: 100%;
  }
  .Team__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 680px) {
  .Page__title {
    font-size: 40px;
  }
  .Team {
    width: 100%;
  }
  .Team__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .Portfolio {
    width: 100%;
  }
  .Portfolio__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=main.css.map */